@import "/src/scss/variables", "/src/scss/utils";

.tech {
  padding-top: 88px;
  background-image: url("/assets/technology/background-technology-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 710px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  header {
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 2.7px;
    font-size: 16px;
    column-gap: 16px;
    margin-bottom: 2rem;

    span {
      font-weight: bold;
      color: $text-color-dark;
    }
    h5 {
      color: $text-color;
      font-weight: normal;
    }
  }
  .img-container {
    margin-bottom: 34px;
    img {
      width: 100vw;
      height: 170px;
    }
  }
  .img-changer {
    display: flex;
    column-gap: 16px;
    font-size: 16px;
    margin-bottom: 26px;
    span {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: $primary-font;
      letter-spacing: 1px;
      border: 1px solid $text-color-grey;
      cursor: pointer;
    }
  }
  .terminology-paragraph {
    text-align: center;
    color: $text-color;

    h3 {
      font-size: 14px;
      font-family: $secondary-font;
      color: $secondary-color;
      letter-spacing: 2.36px;
      font-weight: normal;
      margin-bottom: 9px;
    }
    h4 {
      font-size: 24px;
      font-family: $primary-font;
      font-weight: normal;
      text-transform: uppercase;
      margin-bottom: 16px;
    }
    p {
      font-size: 15px;
      line-height: 25px;
      color: $secondary-color;
    }
  }
}
