@import "/src/scss/variables", "/src/scss/utils";


.tech{
    padding-top: 88px;
    background-image: url('assets/technology/background-technology-mobile.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 710px;
}