@import "/src/scss/variables", "/src/scss/utils", "/src/scss/mixins";

.home {
  width: 100%;
  min-width: 375px;
  height: 677px;
  min-height: 100vh;
  padding-top: 88px;
  color: $text-color;
  display: grid;
  place-items: center;
  background-image: url("/assets/home/background-home-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  
  .home-content {
    width: 327px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    h5 {
      font-size: 16px;
      font-weight: normal;
      letter-spacing: 2.7px;
      order: -1;
      color: $secondary-color;
    }

    h1 {
      font-size: 80px;
      line-height: 100px;
    }
    p {
      @include text-paragraph;
    }
  }
  .explore-btn {
    background-color: $text-color;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-top: 60px;
    align-self: baseline;
    color: $primary-color;
    border: none;
    font-size: 20px;
    letter-spacing: 1.25px;
  }


  @media (min-width:$break-point-tablet) and (max-width:1439px) {
    height: 1024px;
    background-image: url("/assets/home/background-home-tablet.jpg");
  }
}
