@import "/src/scss/variables", "/src/scss/utils";

.navbar{
    width: 100%;
    padding: 24px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    position: absolute;
    top: 0;
    z-index: 2;
    

    .logo{
        width: 40px;
        height: 40px;
    }
    .menu-btn{
        width: 24px;
        height: 21px;
        background: none;
        border: none;
        outline: none;
        box-shadow: none;
    }
}
@media screen and (min-width:$break-point-tablet) {
    .navbar{
        width: 729px;
        margin-left: 39px;
        padding-left: 0;
        padding-top: 24px;

        .logo{
            width: 48px;
            height: 48px;
        }

        .menu-btn{
            display: none;
        }
    }
}