@import "/src/scss/variables", "/src/scss/utils", "/src/scss/mixins";

.crew {
  width: 100%;
  min-width: 375px;
  height: 710px;
  min-height: 100vh;
  color: $text-color;
  padding-top: 88px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  .bg-moon-container {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url("./assets/crew/background-crew-mobile.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    filter: brightness(35%);
    z-index: -1;
  }
  header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    letter-spacing: 2.7px;
    margin-bottom: 2rem;
    font-size: 16px;
    span {
      font-weight: 700;
      color: $text-color-dark;
      font-weight: bold;
    }
    h5 {
      font-weight: normal;
      text-transform: uppercase;
      color: $text-color;
    }
  }
  .crew-photo {
    // width: 327px;
    // height: 223px;
    display: grid;
    place-content: center;
    border-bottom: 2px solid $text-color-dark;
    margin-bottom: 32px;
    img {
      width: 100%;
      height: 222px;
    }
  }
  .crew-info {
    display: flex;
    flex-direction: column;
    align-items: center;

    .slider-dots {
      display: flex;
      gap: 16px;
      margin-bottom: 32px;
      .slider-dot {
        width: 10px;
        height: 10px;
        border-radius: 50%;
      }
    }
    h3 {
      font-size: 16px;
      font-family: $primary-font;
      color: $text-color-grey;
      text-transform: uppercase;
      font-weight: normal;
      margin-bottom: 8px;
    }
    h4 {
      @include subheading-text-h3;
    }
    p {
      @include text-paragraph;
    }
  }
}

@media screen and (min-width: $break-point-tablet) and (max-width: 1439px) {
  .crew {
    min-width: 768px;
    height: 1024px;
    padding-top: 136px;
    position: relative;

    .bg-moon-container {
      background-image: url("./assets/crew/background-crew-tablet.jpg");
      filter: brightness(55%);
    }
    header {
      letter-spacing: 3.38px;
      font-size: 20px;
      align-self: flex-start;
      margin-bottom: 60px;
    }
    .crew-info {
      order: 0;

      h3 {
        font-size: 24px;
      }
      h4 {
        font-size: 40px;
      }
      p {
        font-size: 16px;
        line-height: 28px;
        margin: 0 (156px-39px) 40px;
      }

      .slider-dots {
        order: 2;
        margin-bottom: 40px;
      }
    }
    .crew-photo {
      order: 1;
      margin-bottom: 0;
      border-bottom: none;

      img {
        width: 100%;
        height: 527px;
      }
    }
  }
}
@media screen and (min-width: $break-point-desktop) {
  .crew {
    height: 900px;
    padding-top: 212px;

    .bg-moon-container{
      background-image: url("./assets/crew/background-crew-desktop.jpg");
      filter: brightness(50%);
    }

    header {
      align-self: flex-start;
      gap: 24px;
      font-size: 28px;
      letter-spacing: 4.72px;
      margin-bottom: 154px;
      margin-left: 165.6px - 55px;
    }
    .main-content {
      display: grid;
      grid-template-columns: 1.5fr 1fr;
      grid-template-rows: 1fr;
      margin-left: 165.6px - 55px;

      .crew-photo {
        order: 2;
        margin: 0;
        border-bottom: none;
        width: 568.07px;
        overflow: hidden;

        img {
          width: auto;
          height: auto;
          position: absolute;
          bottom: 0;
        }
      }
      .crew-info {
        align-items: start;
        width: 100%;

        .slider-dots {
          order: 1;
          .slider-dot {
            width: 15px;
            height: 15px;
            &:hover{
              background-color: #97979795 !important;
              cursor: pointer;
              filter: none;
            }
          }
        }
        h3 {
          font-size: 32px;
          margin-bottom: 15px;
        }
        h4 {
          font-size: 56px;
          margin-bottom: 27px;
        }
        p {
          font-size: 18px;
          line-height: 32px;
          text-align: left;
          padding-right: 12rem;
          margin-bottom: 120px;
        }
      }
    }
  }
}
