@import "/src/scss/variables", "/src/scss/utils";

.sidebar {
  position: absolute;
  right: 0;
  width: 254px;
  height: 677px;
  display: none;
  flex-direction: column;
  row-gap: 32px;
  padding-left: 32px;
  backdrop-filter: blur(30px);
  z-index: 2;

  .menu-btn{
    position: absolute;
    right: 23px;
    top: 33px;
    width: 24px;
    height: 21px;
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
    cursor: pointer;
}

  .route {
    position: relative;
    top: 118px;
    font-size: 16px;
    letter-spacing: 2.7px;

    span {
      font-weight: bold;
      color: $text-color;
    }
    a {
      font-weight: normal;
      text-decoration: none;
      color: $text-color;
      text-transform: uppercase;
      padding-left: 11px;
    }
  }
}
