@import "/src/scss/variables", "/src/scss/utils";

.sidebar {
  width: 254px;
  height: 677px;
  position: absolute;
  right: 0;
  padding-left: 32px;
  display: none;
  flex-direction: column;
  row-gap: 32px;
  backdrop-filter: blur(30px);
  z-index: 2;

  .menu-btn{
    height: 21px;
    position: absolute;
    right: 23px;
    top: 33px;
    width: 24px;
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
}

  .route {
    font-size: 16px;
    letter-spacing: 2.7px;
    position: relative;
    top: 118px;

    span {
      font-weight: bold;
      color: $text-color;
    }
    a {
      font-weight: normal;
      text-decoration: none;
      color: $text-color;
      text-transform: uppercase;
      padding-left: 11px;
    }
  }
}

@media screen and (min-width:$break-point-tablet) {
  .sidebar{
    top: 0;
    width: 450px;
    height: 96px;
    padding: 0 48px;
    display: flex !important;
    flex-direction: row;
    align-items: center;
    row-gap: 0;
    column-gap: 37px;
    background-color: rgba($color: $text-color, $alpha: 4%);
    .menu-btn{
      display: none;
    }

    .route{
      font-size: 14px;
      letter-spacing: 2.36px;
      position: static;
      display: flex;
      span{
        display: none;
      }
      a{
        padding-left: 0;
      }
    }
  }
}