@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&display=swap');
@import 'scss/variables', 'scss/utils';

//  font-family: "Bellefair", serif;
//  font-family: "Barlow Condensed", sans-serif;
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



body{
    background-image: url('/assets/home/background-home-mobile.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}