$primary-color: #0B0D17;
$secondary-color: #D0D6F9;
$text-color: #FFFFFF;
$text-color-dark: #383B4B;
$text-color-grey: #979797;
$text-size: 16px;
$primary-font: "Bellefair", serif;
$secondary-font: "Barlow Condensed", sans-serif;
$break-point-tablet: 768px;
$break-point-desktop:1440px;